<%= image_tag "report-page-1.png", :id=>'page1' %>
<%= image_tag "report-page-2.png", :id=>'page2' %>
<div id="org_name">
	Ella Lee Forest
</div>
<div id="reporting_period">
	<%=@month_year%>
</div>
<div id="coordinator">
	Brady Holt<br/>
	1355 Del Norte, 77018<br/>
	713-494-9132
</div>
<div id="completed_by">
	Brady Holt<br/>
	1355 Del Norte, 77018<br/>
	713-494-9132
</div>
<div id="incidents_reported">
	<%=@incidents_reported%>
</div>
<div id="suspects_arrested">
	<%=@suspects_arrested%>
</div>
<div id="patrol_hours_period_1">
	<%=@patrol_hours_period_1.round(2)%>
</div>
<div id="patrol_hours_period_2">
	<%=@patrol_hours_period_2.round(2)%>
</div>
<div id="patrol_hours_period_3">
	<%=@patrol_hours_period_3.round(2)%>
</div>
<div id="patrol_hours_period_4">
	<%=@patrol_hours_period_4.round(2)%>
</div>
<div id="patrol_hours_total">
	<%=@patrol_hours_total.round(2)%>
</div>
<div id="calls_made_hpd_cell_phone">
	0
</div>
<div id="comments">
	<%=@comments%>
</div>
<div id="group_name">
	Ella Lee Forest
</div>
<div id="month_year">
	<%=@month_year%>
</div>
<div id="hours">
	<table id="hours-table" border="0">
		<thead>
			<tr><th>Name (First, Middle, Last)</th><th>Number of Hours Patrolled</th></tr>
		</thead>
		<tbody>
		<% @hours.each do |k,v| %>
			<tr><td><%=k%></td><td><%=v%></td></tr>
		<% end %>	
		<tbody>
	</table>
</div>